<%- include("partials/header") -%>

<div class="ui main text container">
    <div class="ui huge header">Firebase Authentication</div>
        <div class="ui top attached segment">
            <div class="ui divided items">
                <div class="item">
                <div class="content">
                    <a class="ui primary basic button" href="/signin">Signin</a>
                    <a class="ui primary basic button" href="/signup">Signup</a>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer") -%>